KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=node-kafka-app
PORT=3000
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_DB=postgres
ASSET_MILESTONES_GROUP_ID=asset-milestones-db-writer
ASSET_MILESTONES_TOPIC=asset-milestones
